.login-container {
  margin: 16px;
  display: flex;
  flex-direction: column;

  .login-field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 16px;

    label {
      width: 100%;
    }
  }
  button {
    float: right;
    background-color: bisque;
  }

  /* CSS */
  .button-24 {
    background: #6d3109;
    border: 1px solid #6d3109;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    outline: 0;
    padding: 10px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }

  .button-24:hover,
  .button-24:active,
  .button-24:focus {
    background-color: initial;
    background-position: 0 0;
    color: #a0633a;
  } 

  .button-24:active {
    opacity: 0.5;
  }
}
